:root {
  --primary-color: #0C0032;
  --secondary-color-1: #190060;
  --secondary-color-2: #3500D3;
  --secondary-color-3: #553D67;
  --text-color: white;
}

body {
  margin: 0;
  font-family: 'Press Start 2P', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--primary-color);
  color: var(--text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

.btn {
  font-family: 'Press Start 2P', cursive;
  font-size: 14px;
  padding: 12px 32px;
  margin: 1rem;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.3s ease;
  border-radius: 50px;
  background-image: linear-gradient(to right, var(--secondary-color-3), var(--secondary-color-2));
  color: var(--text-color);
}

.btn:hover {
  transition: all 0.3s ease;
  box-shadow: white 0px 0px 20px 0px;
}

/*Navbar*/
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.navbar img {
  margin-left: 20px;
  margin-right: 20px;
  max-height: 50px;
}

.navbar__left {
  display: flex;
  align-items: center;
}

.navbar input {
  font-size: 100%;
  font-family: 'Press Start 2P';
  border: none;
  background: none;
  cursor: pointer;
  margin-right: 10px;
  color: var(--text-color);
}

.navbar__account {
  font-size: 50%;
  margin-right: 20px;
}

/*LandingPage*/
.landing__page {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing__page img {
  max-width: 1200px;
}

/*Footer*/
.footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}